<!doctype html>
<html lang="en">

<head>
    <title>Shopping Cart JFGR</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#home.html">DASW JFGR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="flex-grow-1">
                <form class="form-inline">
                    <input class="form-control col-sm-9 col-lg-10" type="search"
                        placeholder="Busca los productos que quieras" aria-label="Search">
                    <button class="btn btn-outline-success col-sm-3 col-lg-2" type="submit">Search</button>
                </form>
            </div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mi Cuenta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#Register">Registro</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span
                            class="ml-1 badge badge-dark">2</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <h1 style="text-align:center;">Resumen de compra</h1>
<br>
    <div class="container">
        <div class="row">
            <div class="container col-8">
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">Pastel de Zanahoria X 1</h5>
                        Delicioso pastel de zanahoria
                        1 x $150.00
                    </div>
                    <div class="media-right">
                        <img class="mr-3"
                            src="https://images.freeimages.com/images/large-previews/071/carrot-cake-1562464.jpg"
                            alt="Generic placeholder image" widht="150px " height="150px">
                    </div>
                </div>
                <div class="media">
                    <div class="media-body">
                        <h5 class="mt-0">Pastel de Chocolate X 1</h5>
                        Delicioso pastel de chocolate
                        1 x $750.00
                    </div>
                    <div class="media-right">
                        <img class="mr-3"
                            src="https://images.freeimages.com/images/large-previews/210/chocolate-cake-1328730.jpg"
                            alt="Generic placeholder image" widht="150px " height="150px">
                    </div>
                </div>
            </div>
            <div class="container col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total a pagar</h5>
                        <p class="card-text">1 x $850.00</p>
                        <a href="#" class="btn btn-primary">Pagar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>